@if (User.Identity.IsAuthenticated)
{
    <ul>
        <li>@User.Identity.Name</li>
        <li>@User.Identity.AuthenticationType</li>
        <li><a asp-controller="Account" asp-action="Logout">登出</a></li>
    </ul>
}
else
{
    <ul>
        <li><a asp-controller="Account" asp-action="Login">登入</a></li>
    </ul>
}